{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div class="print-info-box">
    <div class="category">
        {{ .Parent.Title }}
    </div>
    <div class="title">
        {{ .Title }}
    </div>
</div>

{{ with .Resources.Match "*.png"  }}
{{ range . }}
{{ $image := . }}
<img class="image" src="{{ $image.RelPermalink }}"/>
{{ end }}
{{ end }}



<div class="content">
    {{ .Content }}
</div>


{{ end }}
