+++
title = "waterscouting.net"
linkTitle = "waterscouting.net"

+++

{{< blocks/cover title="waterscouting.net" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/zeilen" >}}">
		Zeilen <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/motorboot" >}}">
		Motorboot <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-warning mr-3 mb-4" href="{{< relref "/onderhoud" >}}">
		Onderhoud <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Naslagwerk voor waterscouting</p>
</div>
{{< /blocks/cover >}}
