{{ if .Path }}
{{ $pathFormatted := replace .Path "\\" "/" }}
{{ $gh_repo := ($.Param "github_repo") }}
{{ $gh_subdir := ($.Param "github_subdir") }}
{{ $gh_project_repo := ($.Param "github_project_repo") }}
{{ $gh_branch := (default "master" ($.Param "github_branch")) }}
{{ if $gh_repo }}
<div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
<a href="{{ substr .RelPermalink 0 -1 }}.pdf" target="_blank"><i class="fas fa-file-download fa-fw"></i> Download als PDF</a>
{{ $editURL := printf "%s/-/blob/%s/content/%s" $gh_repo $gh_branch $pathFormatted }}
{{ $issuesURL := printf "%s" $gh_repo }}
<a href="{{ $editURL }}" target="_blank"><i class="fa fa-edit fa-fw"></i> Bewerk deze pagina</a>
<!--<a href="{{ $issuesURL }}" target="_blank"><i class="fab fa-gitlab fa-fw"></i> Bekijk op GitLab</a>-->
{{ if $gh_project_repo }}
{{ $project_issueURL := printf "%s/issues/new" $gh_project_repo }}
<a href="{{ $project_issueURL }}" target="_blank"><i class="fas fa-tasks fa-fw"></i> {{ T "post_create_project_issue" }}</a>
{{ end }}
</div>
{{ end }}
{{ end }}
