{{ define "main" }}

{{ if .Site.BuildDrafts }}
<h3>Pagina's</h3>
{{ range.Site.RegularPages }}
<div>
    <a href="{{ strings.TrimSuffix "/" .Permalink }}">{{ .Title }}</a>
</div>
{{ end }}
{{ end }}

{{ end }}
