<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{.Title}}</title>
    <base href="/">

    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#222222">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {{ $fonts := resources.Get "scss/fonts.scss" | resources.ExecuteAsTemplate "fonts.scss" .Site | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $fonts.RelPermalink }}">

    {{ $style := resources.Get "scss/index.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
