@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: normal;
  src: url('{{ .BaseURL }}fonts/arvo.ttf');
}

@font-face {
  font-family: 'Arvo-Bold';
  font-style: normal;
  font-weight: bold;
  src: url('{{ .BaseURL }}fonts/arvob.ttf');
}
