@import "list";

html {
  font-family: 'Arvo', serif;
}

html, body {
  margin: 0;
  padding: 0;
}

@media print {
  body {
    font-size: 105%;
  }
}

* {
  box-sizing: border-box;
}

strong {
  font-family: 'Arvo-Bold', serif;
  font-weight: bold;
}

h1, h2, h3, h3 {
  font-family: 'Arvo-Bold', serif;
  font-weight: bold;
}

.print-info-box {
  position: absolute; left: 0; top: 20;

  width: 200px;
  background: #324b77;
  color: white;
  text-align: right;
  padding: 5px;
  float: left;

  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(-90deg) translate(0px, -200px);
  -webkit-transform-origin: 100% 0;

  .category {
    font-size: 14px;
    text-transform: uppercase;
  }

  .title {
    font-size: 20px;
  }

  @media print {
    & {
      display: block;
    }
  }
}

.content {
  margin-left: 120px;

  ol, ul, p, h1, h2, h3 {
    width: 650px;
  }
}

.image {
  float: right;
}
